<!DOCTYPE html>
<html>

<head>
  <title>کلاسور</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=0">
    {% load static %}
    <link rel="stylesheet" href="{% static "home/style.css" %}">

  <meta name="keywords" content="ali,alihajivand">
</head>

<body>
  <div class="menu">
    <div class="main-menu container">
      <a class="img-logo" href="../../acoounts/templates/login.html">
        <img src="../static/home/img/svg/name.svg" alt="کلاسور">
      </a>
      <nav>
        <ul>
          <li class="dropdown"> <a href="">کلاسور برای</a>
            <img src="../static/home/img/svg/arrow.svg" class="arrow-d" alt="">
            <ul class="dropdown-content">
              <li><a href="">دانش آموز</a>
              </li>
              <li><a href="">استاد</a>
              </li>
              <li><a href="">دانشجو</a>
              </li>
            </ul>
          </li>
          <li><a href="#">مسابقات</a>
          </li>
          <li><a href="">بلاگ</a>
          </li>
        </ul>
      </nav>
      <div class="sign"> <a href="../../acoounts/register/">ورود / ثبت نام</a>
      </div>
    </div>
  </div>
  <div class="s container">
    <div class="main-img">
      <img src="../static/home/img/svg/headbac.svg" class="img-back" alt="">
    </div>
    <div class="main-main">
      <h2>مدیریت کلاس درس و یادگیری سریع</h2>
      <h4>در کلاسور سریع یادبگیر، کلاستو مدیریت کن و
        در مسابقات شرکت کن </h4>
      <div class="main-text"> <a href="" class="text-main">خبرنامه </a>
        <a href="" class="text-main-t">لیست مسابقات</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card-main container">
    <br>
    <br>
    <br>
    <h3>مجموعه کلاسور</h3>
    <div class="card-m">
      <div class="card-a">
        <img src="../static/home/img/svg/icon-bar/1.svg" class="img-card" alt="">
        <h4>عضو فعال</h4>
        <p>230</p>
      </div>
      <div class="card-a cd">
        <img src="../static/home/img/svg/icon-bar/2.svg" class="img-card" alt="">
        <h4>دانشجو فعال</h4>
        <p>867</p>
      </div>
      <div class="card-a">
        <img src="../static/home/img/svg/icon-bar/3.svg" class="img-card" alt="">
        <h4>مسابقه </h4>
        <p>23</p>
      </div>
    </div>
    <p class="p-card">اگر عضو مجموعه کلاسور نیستی همین الان عضو شو <a href="">( ثبت نام )</a>
    </p>
  </div>
  <div class="container main-T">
    <h3>مجموعه کلاسور</h3>
    <h5>امکانات مجموعه کلاسور برای دانشجو ، استاد و دانش آموز</h5>
    <div class="div-main">
      <div class="img-T">
        <img src="../static/home/img/svg/1b.svg" alt="">
      </div>
      <div class="T-main">
        <p>آموزش</p>
        <div class="div-T">
          <h4>با عضویت در کلاس های درس دانش خودتو
            بالا ببر و علم خودتو با همکلاسیات به اشتراک بزار.</h4>
          <a href="">
            عضویت در کلاس درس
          </a>
        </div>
      </div>
    </div>
    <div class="div-main">
      <div class="f-t">
        <p>آموزش</p>
        <div class="div-T">
          <h4>با عضویت در کلاس های درس دانش خودتو
            بالا ببر و علم خودتو با همکلاسیات به اشتراک بزار.</h4>
          <a href="">
            عضویت در کلاس درس
          </a>
        </div>
      </div>
      <div class="img-T f-i">
        <img src="../static/home/img/svg/2b.svg" alt="">
      </div>
    </div>
    <div class="div-main">
      <div class="img-T">
        <img src="../static/home/img/svg/3b.svg" alt="">
      </div>
      <div class="T-main">
        <p>آموزش</p>
        <div class="div-T">
          <h4>با عضویت در کلاس های درس دانش خودتو
            بالا ببر و علم خودتو با همکلاسیات به اشتراک بزار.</h4>
          <a href="">
            عضویت در کلاس درس
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container uni-main">
    <div class="uni-T">
      <h2>همکاری با استادان و دانشگاه های برتر</h2>
      <p>کلاسور امکان به اشتراک‌گذاری تمرین‌ها، تصحیح خودکار پاسخ‌های ارسالی و
      گفتگوی دانشجویان را برای بهترین دانشگاه‌ها و مدارس کشور فراهم کرده
      . است</p>
    </div>
    <div class="uni-i">
      <div class="uni-g">
        <img src=../static/home/img/svg/icon/amirkabir.svg alt="">
      </div>
      <div class="uni-g">
        <img src=../static/home/img/svg/icon/beheshti.svg alt="">
      </div>
      
      <div class="uni-g">
        <img src=../static/home/img/svg/icon/isfahan.svg alt="">
      </div>
      <div class="uni-g">
        <img src=../static/home/img/svg/icon/tehran.svg alt="">
      </div>
    </div>
  </div>
  <div>
    <div class="sup" id="section2">
      <h4> در صورت هر گونه سوال با تیم پشتیبانی کلاسور تماس بگیرید</h4>
      <a href="">تماس با ما</a>
    </div>
  </div>

    <div class="footer container">
      <br><br>
        <img src="/img/svg/name.svg" width="80" alt="">
        <br><br>
        <div class="footer-main">
          <div class="footer-m">
            <ul>
              <li><a href="">مسابقات</a></li>
              <li><a href="">بلاگ</a></li>
              <li><a href="">صفحه اصلی</a></li>
              <li><a href="">تمرین‌ها</a></li>
            </ul>
          </div>
          <div class="footer-d">
            <ul>
              <li><a href="">درباره ما</a></li>
              <li><a href="">تماس با ما</a></li>
              <li><a href="">دفتر کار</a></li>
              <li><a href="">قوانین و مقررات</a></li>
            </ul>
          </div>
        </div>
    </div>
  
  <br><br><br><br>
</body>



</html>
